body {
  background-color: lightyellow;
  text-align: center;
  font-family: monospace;
  margin: 12px;
}

#quizForm {
  text-align: left;
}

#harry {
  display: none;
}

#ron {
  display: none;
}

#hermione {
  display: none;
}

#dumbledore {
  display: none;
}

#snape {
  display: none;
}

#backButton {
  display: none;
}

.final {
  font-family: fantasy;
}

.final img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.final p {
  font-size: 14pt;
  text-align: justify;
}
